<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".tif" />
      <mimeMap fileExtension=".tif"     mimeType="image/tiff" />
      <remove fileExtension=".tiff" />
      <mimeMap fileExtension=".tiff"    mimeType="image/tiff" />
      <remove fileExtension=".geojson" />
      <mimeMap fileExtension=".geojson" mimeType="application/json" />
    </staticContent>

    <security>
      <requestFiltering>
        <fileExtensions allowUnlisted="true">
          <remove fileExtension=".tif" />
          <add fileExtension=".tif"     allowed="true" />
          <remove fileExtension=".tiff" />
          <add fileExtension=".tiff"    allowed="true" />
          <remove fileExtension=".geojson" />
          <add fileExtension=".geojson" allowed="true" />
        </fileExtensions>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
